html,body {
  font-family: 'Mulish', 'Times New Roman';
  font-weight: 400;
  height: 100%;
  padding: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
}

.sidebar::-webkit-scrollbar {
  display: none;
}